.wrapper {
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
  background-color: #fa0050;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 100px;
  .header_left {
    position: fixed;
    min-width: 80px;
  }
  .homeLogo {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: white;
    margin-left: 10px;
    margin-bottom: 10px;
    font-size: 50px;
    font-weight: bold;
    white-space: nowrap;
  }
  .returnArrow {
    cursor: pointer;
    margin: 0px 10px;
    width: 28px;
    height: 28px;
    fill: black;
  }
  .allMenu {
    cursor: pointer;
    margin: 0px 10px;
    width: 28px;
    height: 28px;
    fill: white;
  }
  .header_middle {
    min-width: content;
    clear: both;
  }
  .header_right {
    display: flex;
    padding: 8px 12px;
    position: fixed;
    right: 0px;
    top: 50px;
    min-width: content;
    clear: both;
    float: right;
    margin-right: 20px;
    justify-content: space-between;
  }
  .ImageBox {
    width: 100%;
    height: "calc(100vh - 30rem)";
  }
}
